/* Enter your custom styles here */

.headerContent {
    height: 50%;
    position: relative;
}

.detailContent {
    height: 50%;
    position: relative;
}

.tablePadding {
    height: 200px;
}

/* .sapMTB{
    background: white !important;
} */

.sapMBtn.activeFiltering .sapMBtnInner {
    background: linear-gradient(45deg, blue, transparent) !important;
}

/* .sapMBtn.activeFiltering .sapMBtnIcon {
    color: #ffffff !important;
} */

/* .tabColumnRowsBgColor .sapUiTableTr.sapUiTableRowSel, 
.tabColumnRowsBgColor .sapUiTableRowSelectionCell.sapUiTableRowSel, 
.tabColumnRowsBgColor .sapUiTableRowActionCell.sapUiTableRowSel {
    background-color: #ffffff !important;
} */

.requiredField {
    color: red !important;
}

/* .sapMBtn .sapMBtnInner {
    background: lightgrey;
    border: none;
} */

.activeRow {
    background-color: #e1ebf3 !important;
}

.hideControl {
    display: none;
}

.showControl {
    display: block;
}

.sapMITBHead {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    margin: 0.25rem 0.25rem 0 0.25rem;
    margin-top: 0.25rem !important;
    margin-right: 0.25rem !important;
    margin-bottom: 0px !important;
    margin-left: 0.25rem !important;
    padding-top: 0.5rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-bottom: 0.5rem !important;  
    vertical-align: top;
    font-size: 0.25rem;
}

.sapUiRespGrid{

    padding-top: 0rem !important;

    padding-bottom: 0rem !important;
}

.sapMOHR{
    padding-top: 0.5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-bottom: 0.5rem !important;    
}

.sapMOHRStates {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding-top: 0.5rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-bottom: 0.5rem !important;  
    width: 100%;
    max-width: 95rem;
    padding: 0;
}   

.sapMITBHead {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    margin-top: 0rem !important;
    margin-right: 0.25rem !important;
    margin-bottom: 0px !important;
    margin-left: 0.25rem !important;
    padding-top: 0rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-bottom: 0rem !important;  
    vertical-align: top;
    font-size: 0.25rem;
}

/* .sapMITH {
    box-shadow: inherit;
    border-top: 0.125rem solid #d1e0ee;
    border-bottom: 0.125rem solid #d1e0ee;
} */

.sapUiFormResGrid>div {
    padding: 0rem 0rem !important;
    box-sizing: border-box !important;
}

/* .sapUiTableContentRow.sapUiTableRowSel {
    background-color: #e8eff6;
    outline: 0.125rem solid blue;
    outline-offset: calc(-0.125rem - 0.0625rem);
}

.sapUiTableTr.sapUiTableRowSelectionCell {
    background-color: red;
}

.sapUiTableRowSelectionCell.sapUiTableRowSel {
    background-color: red;
} */

.sapMDialogScroll {
    height: 98%;
}

.sapMLabelRequired, .sapMLabelRequired::before {
    color: #c75858 !important;
}

.selHdrKeyFontStyle {
    font-style: italic;
}

.vboxHeight > .sapMFlexItem {
    height: 100%;
}
/* .sapMFlexItem{
    height: 100%;
} */
.vboxHeight {
    height: 85%;
    padding-left: 0rem;
    padding-right: 0rem;
}

.onAddVboxHeight {
    height: 100%;
    padding-left: 0rem;
    padding-right: 0rem;
}

.detailSection {
    position: relative;
}

.addDetailSection {
    position: absolute;
    height: 100%;
}

.sidePadding {
    padding: 0 0.5rem;
}