/* Enter your custom styles here */

.headerContent {
    height: 50%;
    position: relative;
}

.detailContent {
    height: 50%;
    position: relative;
}

.tabColor {
    background-color: aliceblue !important;
}

.tablePadding {
    height: 200px;
}

.sapMBtn.activeFiltering .sapMBtnInner {
    background: linear-gradient(45deg, blue, transparent) !important;
}

.sapMBtn.activeFiltering .sapMBtnIcon {
    color: #ffffff !important;
}

.tabColumnRowsBgColor .sapUiTableTr.sapUiTableRowSel, 
.tabColumnRowsBgColor .sapUiTableRowSelectionCell.sapUiTableRowSel, 
.tabColumnRowsBgColor .sapUiTableRowActionCell.sapUiTableRowSel {
    background-color: #ffffff !important;
}

.requiredField {
    color: red !important;
}

.sapMBtn .sapMBtnInner {
    background: lightgrey;
    border: none;
}

.activeRow {
    background-color: #E5F0FA 
}

.hideControl {
    display: none;
}

.showControl {
    display: block;
}